NEXT_PUBLIC_SUPABASE_URL=https://ucntmhnssxrrmspecams.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVjbnRtaG5zc3hycm1zcGVjYW1zIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjA2NDI0NzIsImV4cCI6MjA3NjIxODQ3Mn0.MDiR11ReMFAQVK5Ch1yuN9RuIp-yaebtOQ4sSJ0t2oo
NEXT_PUBLIC_SUPABASE_BUCKET_NAME=tango-images
GOOGLE_GENERATIVE_AI_API_KEY=AIzaSyCDLDuqjLI2cRC5k3nDysfCOF9R7vWlDbY
# GOOGLE_GEMINI_MODEL='gemini-2.5-pro'
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=AIzaSyBy0nl7YeDWexazsCwd-YGN9xjTFOyQaEI
NEXT_PUBLIC_MAP_ID=87a2f01c6cc58e67af3b462d