body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
}

.bouncing-loader {
  display: flex;
  justify-content: center;
  margin: auto auto;
}

.bouncing-loader > div {
  width: 6px;
  height: 6px;
  margin: 1px 1px;
  border-radius: 50%;
  background-color: #a3a1a1;
  opacity: 1;
  animation: bouncing-loader 0.6s infinite alternate;
}

@keyframes bouncing-loader {
  to {
    opacity: 0.1;
    transform: translateY(-6px);
  }
}

.bouncing-loader > div:nth-child(2) {
  animation-delay: 0.2s;
}

.bouncing-loader > div:nth-child(3) {
  animation-delay: 0.4s;
}
